body{
    font-family: Tahoma, Sans-serif;
}

.left-section{
    float: left;
}

.right-section{
    float: right;
}

h1.heading{
    font-size: 35px;
    background: #4C9ABF;
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 15px;
    padding: 11px 31px 11px;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
}

.left-section, .right-section{
    box-shadow: 0px 0px 7px 3px rgba(158, 158, 158, 0.35);
    margin: 40px;
    width: 500px;
    background: rgba(158, 158, 158, 0.07);
}

.left-section h1.section-header,
.right-section h1.section-header{
    margin: 12px 0;
    font-size: 22px;
    background: #4C9ABF;
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 15px;
    padding: 11px 31px 11px;
    width: 330px;
    color: #fff;
    margin-left: -15px;
    box-sizing: border-box;
}


button.primary-button {
    color: rgb(0, 128, 230);
    font-size: 17px;
    padding: 8px 15px;
    font-weight: 600;
    display: inline-block;
    margin: 7px;
    border-radius: 7px;
    transition: 0.23s all ease-out;
    cursor: pointer;
    background: #4C9ABF;
    color: #fff;
}

button:disabled{
    background: #637881;
}

.sub-section{
    padding: 0 16px;
}